---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const data = await getCollection("side-projects");
const projects = data.sort((a, b) => (a.data.order > b.data.order ? 1 : -1));
---

<Base
    title="Side projects"
    description="Some side projects, experiments, and other random things."
>
    <header class="header">
        <h1 class="title">Side Projects</h1>
        <p>Some side projects, experiments, and other random things.</p>
    </header>

    <section class="list">
        {projects.map((item) => <ProjectCard {...item} />)}
    </section>
</Base>

<style>
    .header {
        margin-bottom: var(--32px);
    }
    .list {
        display: flex;
        flex-direction: column;
        gap: var(--48px);
        margin-bottom: var(--48px);
    }
</style>
