---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import BlogCard from "../../components/BlogCard.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => a.data.publishedAt.valueOf() > b.data.publishedAt.valueOf() ? -1 : 1
);
---

<Base title="Blog">
    <section class="list">
        {posts.map((post) => <BlogCard {...post} />)}
    </section>
</Base>

<style>
    .list {
        display: flex;
        flex-direction: column;
        gap: var(--48px);
        margin: var(--24px) 0;
    }
</style>
