---
import type { getCollection, CollectionEntry } from "astro:content";

export type Props = CollectionEntry<"blog">;

const { data, slug } = Astro.props;
---

<section>
    <h3>
        <a class="title" href={`/blog/${slug}`}>{data.title}</a>
    </h3>
    <p>{data.description}</p>
</section>

<style>
    .title {
        display: block;
        margin-bottom: 0.5rem;
    }
</style>
