---
import type { CollectionEntry } from "astro:content";
import { routes } from "../lib/routes";

export type Props = CollectionEntry<"blog">;

const { data, slug } = Astro.props;
---

<section>
    <h3>
        <a class="title" href={routes.blogPost(slug)}>{data.title}</a>
    </h3>
    <p>{data.description}</p>
    <a href={routes.blogPost(slug)} class="read-more">Read more &rarr;</a>
</section>

<style>
    .title {
        display: block;
        font-size: var(--24px);
        font-weight: 700;
        margin-bottom: 0.5em;
        text-decoration: none;
        line-height: 1.5;
    }
    .read-more {
        color: var(--foreground);
        text-decoration: none;
        margin-top: 1em;
        display: block;
        font-weight: 700;
    }
</style>
