---
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Twitter from "../components/icons/Twitter.astro";
import Email from "../components/icons/Email.astro";
---

<footer class="footer">
    <a
        href="https://github.com/davelange"
        title="Github"
        target="_blank"
        rel="noopener external"
    >
        <Github />
    </a>
    <a
        href="https://www.linkedin.com/in/david-lange-silva/"
        title="Linkedin"
        target="_blank"
        rel="noopener external"
    >
        <Linkedin />
    </a>
    <a
        href="https://twitter.com/davelange_"
        title="Twitter"
        target="_blank"
        rel="noopener external"
    >
        <Twitter />
    </a>
    <a
        href="mailto:dave.langesilva@gmail.com"
        title="Email"
        target="_blank"
        rel="noopener external"
    >
        <Email />
    </a>
    <p class="copy">© 2023 davelange</p>
</footer>

<style>
    .footer {
        display: flex;
        align-items: baseline;
        gap: 2rem;
        margin-top: 3rem;
        --icon-size: 1.25rem;
    }
    .copy {
        margin-left: auto;
        font-size: 0.75rem;
    }
</style>
