---
import HeaderLink from "./HeaderLink.astro";
---

<header>
    <h2>Dave Lange</h2>

    <nav>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
    </nav>
</header>
