---
import HeaderLink from "./HeaderLink.astro";
import Dark from "./icons/Dark.astro";
import Light from "./icons/Light.astro";
---

<script>
    import { theme } from "../lib/theme";

    document
        .querySelector("[data-js='theme-toggle']")
        ?.addEventListener("click", () => theme.toggle());
</script>

<header class="header">
    <h2><a class="home-link" href="/" title="Home"> Dave Lange</a></h2>

    <nav class="nav">
        <HeaderLink href="/" title="Home" aria-label="Home">Home</HeaderLink>
        <HeaderLink href="/blog" title="Blog" aria-label="Blog">
            Blog
        </HeaderLink>
        <HeaderLink
            href="/side-projects"
            title="Side Projects"
            aria-label="Side Projects"
        >
            Side Projects
        </HeaderLink>
        <button
            type="button"
            data-js="theme-toggle"
            class="theme-btn"
            data-theme="dark"
            aria-label="Toggle theme"
            title="Toggle theme"
        >
            <span class="icon icon--dark">
                <Dark />
            </span>
            <span class="icon icon--light">
                <Light />
            </span>
        </button>
    </nav>
</header>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2rem;
    }
    .home-link {
        text-decoration: none;
        font-size: 1.5rem;
    }
    .nav {
        display: flex;
        gap: 1rem;
    }
    .theme-btn {
        position: relative;
        border: 0;
        background: none;
        color: var(--accent);
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
    .icon {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        transition: all 0.4s 0.3s ease;
    }
    :global(html.dark) .icon--light {
        transition-delay: 0s;
        translate: 0 20px;
        opacity: 0;
    }
    :global(html:not(.dark)) .icon--dark {
        transition-delay: 0s;
        translate: 0 -20px;
        opacity: 0;
    }

    @media screen and (max-width: 40rem) {
        .header {
            flex-direction: column;
        }
    }
</style>
