---
import HeaderLink from "./HeaderLink.astro";
---

<header class="header">
    <h2><a class="home-link" href="/" title="Home"> Dave Lange</a></h2>

    <nav class="nav">
        <HeaderLink href="/" title="Home">Home</HeaderLink>
        <HeaderLink href="/blog" title="Blog">Blog</HeaderLink>
    </nav>
</header>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2rem;
    }
    .home-link {
        text-decoration: none;
        font-size: 1.5rem;
    }
    .nav {
        display: flex;
        gap: 1rem;
    }
</style>
