---
import type { CollectionEntry } from "astro:content";
import ExternalLink from "./icons/ExternalLink.astro";

type Props = CollectionEntry<"side-projects">;

const { data } = Astro.props;

function prettifyUrl(url: string) {
    let res = url.replace("https://", "");

    if (res.endsWith("/")) res = res.slice(0, -1);

    return res;
}

const post = Astro.props;
const { Content } = await post.render();
---

<section>
    <header class="header">
        <h3 class="title">
            {data.title}
        </h3>
        <div class="links">
            <a
                href={data.repo}
                target="_blank"
                rel="noopener external"
                title="Github"
                aria-label="Github"
            >
                <span>Github</span>
                <ExternalLink />
            </a>
            <a
                href={data.url}
                target="_blank"
                rel="noopener external"
                title="Link"
                aria-label="Link"
            >
                <span>{prettifyUrl(data.url)}</span>
                <ExternalLink />
            </a>
        </div>
    </header>
    <Content />
</section>

<style>
    .header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .title {
        color: var(--accent);
        font-size: 1.5rem;
    }
    .links {
        display: flex;
        gap: 1rem;
        --icon-size: 0.75rem;
    }
    .links a {
        display: flex;
        gap: 0.25rem;
        font-size: 0.75rem;
        align-items: center;
        background: var(--accent-soft);
        color: var(--accent);
        padding: 4px 8px;
        border-radius: 1rem;
        text-decoration: none;
        line-height: 1;
        max-width: 100px;
    }
    .links span {
        flex: 0 1 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @media screen and (min-width: 40rem) {
        .links a {
            max-width: 400px;
        }
    }
</style>
