<script>
    import { initScenery } from "../lib/scenery";

    initScenery();
</script>

<section class="container">
    <canvas class="zdog-canvas" width="600" height="400"></canvas>
</section>


<style>
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .container {
        flex: 1;
        display: flex;
        align-items: center;
    }
    .zdog-canvas {
        display: block;
        margin:  auto;
        opacity: 0;
        max-width: 90%;

        animation: fadeIn 1s 1s ease forwards;
        -webkit-mask-image: linear-gradient(
            to right,
            transparent,
            #000 20%,
            #000 80%,
            transparent
        );
    }
</style>
