:root {
  --background: #e2e8f0;
  --foreground: #0c0a09;
  --foreground-soft: #0c0a0933;
  --accent: #4338ca;
  --accent-soft: #a5b4fc;

  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --22px: 1.275rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --32px: 2rem;
  --36px: 2.25rem;
  --48px: 3rem;
}

.dark {
  --background: #0c0a09;
  --foreground: #f5f5f4;
  --foreground-soft: #f5f5f433;
  --accent: #818cf8;
  --accent-soft: #312e81;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: var(--16px);
  line-height: 1.7;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.2s ease;
}

p {
  margin-bottom: 1em;
}

a {
  color: var(--accent);
}

img {
  height: auto;
}

svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

hr {
  opacity: 0.1;
  margin: 2rem 0;
}

/* Article prose text */
.article h1 {
  font-size: var(--32px);
  font-weight: 700;
  line-height: 1.5;
  margin: 1.5em 0 1em;
  color: var(--accent);
}

.article h2 {
  font-size: var(--24px);
  font-weight: 700;
  margin: 1.5em 0 1em;
  color: var(--accent);
}

.article h3 {
  font-size: var(--20px);
  font-weight: 700;
  margin: 1.5em 0 1em;
  color: var(--accent);
}

.article p {
  margin: 1em 0;
}

.article pre {
  padding: 16px;
  border-radius: 1rem;
  margin: 1.5em -1rem;
}

.article img {
  margin: var(--24px) auto;
}

/* Article inline code */
.article p > code {
  background-color: var(--foreground-soft);
  color: var(--foreground);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: var(--14px);
}

/* Article code blocks */
pre code {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

pre code::-webkit-scrollbar-thumb {
  background: #f5f5f499;
  border-radius: 2px;
}

pre code::-webkit-scrollbar {
  height: 4px;
  background-color: inherit;
}
