---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { routes } from "../lib/routes";
import "../reset.css";
import "../global.css";

export type Props = {
	canonical?: string;
	title: string;
	description?: string;
};

const { canonical, title, description } = Astro.props;

const base = {
	title: "Dave Lange",
	description:
		"I'm a frontend developer. Here you can check out things I've written and worked on.",
};
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href={routes.public("favicon.ico")} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || base.title}</title>
		<meta name="description" content={description || base.description} />
		<meta property="og:title" content={title || base.title} />
		<meta
			property="og:description"
			content={description || base.description}
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.href} />
		<meta name="twitter:card" content="summary" />
		<meta property="twitter:url" content={Astro.url.href} />
		<meta name="twitter:title" content={title || base.title} />
		<meta
			name="twitter:description"
			content={description || base.description}
		/>

		<!--fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<!-- canonical -->
		{canonical && <link rel="canonical" href={canonical} />}

		<!-- theme -->
		<script is:inline>
			(() => {
				const theme = localStorage.getItem("theme");
				const defaultToDark =
					!theme &&
					window.matchMedia("(prefers-color-scheme: dark)").matches;
				if (theme === "dark" || defaultToDark) {
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
				}
			})();
		</script>
	</head>
	<body>
		<div class="container">
			<Header />
			<main class="main">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style>
	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		width: 42rem;
		max-width: 90%;
		margin: 0 auto;
		padding: 2rem 0;
	}
	.main {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
	}
</style>
